--/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT        TOP (1000) ID, ChannelID, UserID, LoginDate, LoginResult, IP, InitialSessionID, LogonBrowser, IsLogonDeviceMobile, LogonType
--FROM            VC6Product.dbo.VpUserLogonHistory



--DELETE FROM VC6Product.Softtoken.VPSoftTokenRegistration
--DELETE FROM VC6Product.dbo.VpOtpDevice
--DELETE FROM VC6Product.dbo.VpOtpDeviceApplication
--DELETE FROM VC6Product.dbo.VpOtpDeviceStatusAudit