<log4net>
  <appender name="PerformanceFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\\Projects\\VeriBranch\\LogFiles\\BurganBank\\Main\\SharedAspectsService\\PerformanceLog"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Composite"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="100MB"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="DatePattern" value="-dd.MM.yyyy.&quot;txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d|%thread|%m %n"/>
    </layout>
    <!--<lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock"/>-->
  </appender>
  <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\\Projects\\VeriBranch\\LogFiles\\BurganBank\\Main\\SharedAspectsService\\DebugLog"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Composite"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="100MB"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="DatePattern" value="-dd.MM.yyyy.&quot;txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d|%thread|%-5p|%m %n"/>
    </layout>
    <!--<lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock"/>-->
  </appender>
  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\\Projects\\VeriBranch\\LogFiles\\BurganBank\\Main\\SharedAspectsService\\ErrorLog"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Composite"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="100MB"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="DatePattern" value="-dd.MM.yyyy.&quot;txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d|%thread|%-5p|%m %n"/>
    </layout>
    <!--<lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock"/>-->
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <logName value="VeriBranch"/>
    <applicationName value="VeriBranch"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[Thread: %t] %-5p - %m"/>
    </layout>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="@veripark.com"/>
    <from value="@veripark.com"/>
    <subject value="Veribranch Exception"/>
    <smtpHost value="mail.veripark.com"/>
    <bufferSize value="512"/>
    <lossy value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
    </layout>
  </appender>


  <logger name="Debug" additivity="false">
    <priority value="DEBUG"/>
    <appender-ref ref="DebugLogFileAppender"/>
    <!--<appender-ref ref="DBAppender"/>-->
  </logger>

  <logger name="Error" additivity="false">
    <priority value="ERROR"/>
    <appender-ref ref="ErrorLogFileAppender"/>
    <!--<appender-ref ref="DBAppender"/>-->
  </logger>

  <!-- Performance logger must be INFO level at least (DEBUG level is also acceptable)-->
  <logger name="Performance" additivity="false">
    <priority value="DEBUG"/>
    <appender-ref ref="PerformanceFileAppender"/>
    <!--<appender-ref ref="DBPerformanceLogAppender"/>-->
  </logger>
  <!-- For proper usage Level info must be same with Default Logger-->
  <logger name="Mail" additivity="false">
    <appender-ref ref="SmtpAppender"/>
    <priority value="INFO"/>
  </logger>
</log4net>
